.topDesign{
    background-color: #e8abab;
}
.add-form {
    background-color: #ed6a53;
    padding: 2.8rem 0;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}
.add-form button {
    text-transform: uppercase;
    background-color: #76c7ad;
    font-size: 1rem !important;
}
.add-form button, input, select{
    background-color: #f0d7d5;
    color: #5a3e2b;
    font-family: inherit;
    border: none;
    border-radius: 2rem;
    padding: 1.2rem 2.2rem;
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
    /* margin-right: 1rem; */
}
.list {
    background-color: #f49f85;
    color: #ffebb3;
    padding: 4rem 0;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
}
.actions button,
.list select {
    text-transform: uppercase;
    padding: 0.5rem 1.4rem;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0.8rem;
}

.list ul {
    list-style: none;
    width: 80%;
    overflow: scroll;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.2rem;
    justify-content: center;
    align-content: start;
}

.list li {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.list li button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.8rem;
    padding: 0.8rem;
    transform: translateY(2px);
}
.list button{
    font-size: 1rem !important;
}
.stats {
    background-color: #76c7ad;
    text-align: center;
    font-weight: 500;
    padding: 3.2rem 0;
    font-size: 1.5rem;
}